body {
  background-color: #222831;
}
.numberCards {
  color: #fff;
  width: 50px;
  height: 50px;
  padding: 2rem;
  font-size: 32px;
  text-align: center;
  margin: 5px 10px;
  font-family: "monospace";
}

.even {
  background-color: #21bf73;
}
.odd {
  background-color: #fddb3a;
}
.prime {
  background-color: #fd5e53;
}
ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(8, 0fr);
  justify-content: center;
  padding-inline: 0;
  margin-inline: 0;
  margin-block: 0;
}

.numberGeneratorList {
  margin-top: 1rem;
}

.numberGeneratorHeader {
  text-align: center;
  & * {
    margin-block: 0;
    padding: 0;
  }
  & h1 {
    font-size: 6rem;
    font-weight: 300;
  }
  & h2 {
    font-size: 3rem;
    font-weight: 300;
  }
}

.fullHeightContainer {
  height: 100vh;
}
